{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 8
        },
        "loose": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}